*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
  
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}

.input-container{
    width: 100%;
    position: relative;
    margin: 1em;

    & label{
        font-size: 1rem;
        color:rgb(126, 126, 126);
        cursor: text;
        position: absolute;
        left: 0.3rem;
        bottom: 0.8rem;
        transition: 0.15s ease-in-out;
        margin-bottom: 0.6rem;
        margin-top: 0.6rem;
    }

    & .input{
        padding-left: 5rem;
        width: 22vw;
        height: 3.3vw;
        font-size: 1rem;
        padding: 0.4rem;
        background-color: rgb(211, 211, 211);
        border: none;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        outline: 0;
    }
}

.input:valid{
    border-bottom: 2px solid rgb(135, 0, 189);

    + label {
        font-size: 0.8rem;
        transform: translateY(-16px);
        color: rgb(135, 0, 189);
    }
}

.input:focus{
    border-bottom: 2px solid rgb(135, 0, 189);

    + label {
        font-size: 0.8rem;
        transform: translateY(-16px);
        color: rgb(135, 0, 189);
    }
}

.input:invalid{
    + span{
        display: flex;
        color: brown;
    }
}